#navbar {
  height: 7vh;
  // background: #ff2e63;
  background: #252a34;
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-item {
      line-height: 7vh;
      color: #eaeaea;
      position: relative;
      text-align: center;
      // &.active {
      //   display: block;
      // }
      &.active::after {
        @media (min-width: 500px) {
          display: none;
        } 
        content: '';
        display: block;
        position: absolute;
        top: 80%;
        left: -15%;
        width: 11vw;
        height: 1vw;
        background: #eaeaea;
      }
      &:nth-child(2)::after {
        left: 4%;
      }
    }
  }
}